@model SportStore.Domain.Entities.Product

@{
    ViewBag.Title = "Edit" + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        @if (Model.Name != null)
        {
            <h2 class="text-center">Edit @Model.Name</h2>
        }
        else
        {
            <h2 class="text-center">Create</h2>
        }
    </div>

    
        @using (Html.BeginForm("Edit","Admin",
            FormMethod.Post , new {enctype = "multipart/form-data" }))
        {
            <div class="card-body">
                @Html.HiddenFor(p => p.ProductID)
                <div class="form-group">
                    <label>Name :</label>
                    <input class="form-control" type="text" name="Name" value="@Model.Name" />
                    @Html.ValidationMessage("Name")
                </div>
                <div class="form-group">
                    <label>Description :</label>
                    <textarea class="form-control" rows="3"  name="Description">@Model.Description</textarea>
                    @Html.ValidationMessage("Description")
                </div>
                <div class="form-group">
                    <label>Price :</label>
                    <input class="form-control" type="text" name="Price" value="@Model.Price" />
                    @Html.ValidationMessage("Price")
                </div>
                <div class="form-group">
                    <label>Category :</label>
                    <input class="form-control" type="text" name="Category" value="@Model.Category"/>
                    @Html.ValidationMessage("Category")
                </div>

                <div class="form-group">
                    <div style="position:relative;">
                    <label>Image</label>
                    <a class='btn' href='javascript:;'>
                        Choose File...                    
                        <input type="file" name="Image" size="40" style="position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0); opacity:0;background-color:transparent;color:transparent;" onchange='$("#upload-file-info").html($(this).val());'>                
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                    </div>
                    @if(Model.ImageData == null)
                    {
                        <div class="form-control">No Image</div>
                    }else
                    {
                        <img class="img-thumbnail" width="150" height="150"
                             src="@Url.Action("GetImage", "Product",
                             new { Model.ProductID })" />
                    }
                </div>
            </div>

            <div class="card-footer text-center">
                <input class="btn btn-primary" type="submit" value="Save" />
                <a class="btn btn-secondary" href="~/Admin/Index">Cancel and return to List</a>
            </div>
        }
            
</div>

