
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.css">
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        body {
            padding-top: 0px;
        }
        .navbar{
            margin-bottom: 15px;
        }
        .btn-group-vertical{
            justify-content: flex-start;
        }
        .chek-btn{
            margin-right: 10px;
        }
        .disable{
            pointer-events: none;
        }
        .btn-category{
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Sport Store", "List", "Product", new { area = "" }, new { @class = "navbar-brand" }) 
            </div>
            <div class="navbar-collapse collapse">
            </div>
            <ul class="nav navbar-nav ml-auto">
                @Html.Action("Summary", "Cart")
            </ul>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="dropdown col-md-4 col-sm-12">
                <button class="btn btn-primary btn-lg dropdown-toggle btn-category" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category:  @(@ViewBag.CurrentCategory == null ? "Home" : @ViewBag.CurrentCategory)
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @Html.Action("Menu", "Nav")
                </div>
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>